#container {
  margin-top: 5%;
}

.center {
  align-content: center;
  text-align: center;
}

.picture {
  width: 750px;
  height: 500px;
  margin-left: 10%;
}

.description {
  padding: 200px 30px;
}

ul {
  list-style-type: none;
}

.comment {
  border-bottom: 5px solid green;
  margin-right: 5%;
}

.separation {
  margin-top: 5%;
  padding-top: 20px;
  border-top: 2px solid goldenrod;
}
