#container {
  margin-top: 5%;
}

.btn-primary {
  background-color: green !important;
}

.center {
  align-content: center;
  text-align: center;
}

.money {
  padding: 150px 30px;
}

.picture {
  width: 750px;
  height: 500px;
  margin-left: 10%;
}

.description {
  padding: 200px 30px;
}

ul {
  list-style-type: none;
}

.btn {
  font-size: 16px !important;
}
.pencil {
  font-size: 12px;
}
.comment {
  border-bottom: 1px solid green;
  margin-right: 5%;
  padding: 10px 10px;
}

.separation {
  margin-top: 5%;
  padding-top: 20px;
  border-top: 2px solid goldenrod;
}
